API_ORIGIN_HOST=origin-api.restobite.com
PUBLIC_ORIGIN_HOST=origin-www.restobite.com
LOGS_HOST=logs.restobite.com
API_ORIGIN_SECRET=replace-with-url-safe-api-origin-secret
PUBLIC_ORIGIN_SECRET=replace-with-url-safe-public-origin-secret
