RESTOBITE_BACKEND_API_SECRET=replace-with-hmac-secret
RESTOBITE_BACKEND_API_CREDENTIAL_ID=replace-with-hmac-credential-id
LOG_CONSOLE_ENABLED=true
NEXT_PUBLIC_ASSETS_URL=https://assets.restobite.com
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=replace-with-public-site-key
